.destination {
  margin: 4rem 6rem;
}

.destination h1 {
  font-size: 3rem; /* Corrected */
}

.first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.sec-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.des-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}

.sec-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.des-text h2 {
  padding-bottom: 1rem; /* Corrected */
}

.btnExplore {
  text-decoration: none;
  background-color:darkblue; /* Moved background color */
  padding: 0.2rem 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  margin-top: 5.5rem;
}

.btnExplore:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.Secimage {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.image img {
  width: 50%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.Secimage img {
  width: 50%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}

.Secimage img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}

@media screen and (max-width: 850px) {
  .destination {
    margin: 4rem 2rem;
  }

  .first-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3.5rem;
  }

  .sec-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3.5rem;
  }

  .des-text {
    width: 100%;
  }

  .sec-text {
    width: 100%;
  }

  .image {
    width: 100%;
    margin: 1.8rem 0;
  }

  .Secimage {
    width: 100%;
    margin: 1.8rem 0;
  }

  .image img {
    height: 250px;
  }

  .Secimage img {
    height: 250px;
  }

  .btnExplore {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 0.8rem;
    background: rgb(19, 133, 151);
    margin-top: 3.5rem;
  }
}
