.Overview{
    padding: 4rem 3rem;
    background-color:  rgb(8, 8, 115);
    color: white;
   
}
.Overview h1{
    font-size: 3rem;
    font-weight: 800;
}
.Overview p{
    font-size: 1rem;
    font-weight: 500;
}
.main{
    background-color: #91b0fe;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
	position: relative;
    
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1.8rem;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}
.box {
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
.highlights{
    background-color: rgb(8, 8, 115);
    color: white;
    text-align: justify;
}